.add-image-window-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vh 0;
    margin: 0 24%;
    background-color: #146db1;
    border-radius: 10px;
}
.add-image-window-wrapper-close-image{
    width: 5vh;
    cursor: pointer;
}
.add-image-window-wrapper-add-img {
    width: 13vh;
    height: 13vh;
    margin-top: 2vh;
    cursor: pointer;
    border-radius: 7px;
}
.add-image-window-wrapper-description {
    width: 30vh;
    height: 6vh;
    margin-top: 2vh;
    border-radius: 7px;
    text-align: center;

}
.add-image-window-wrapper-description:focus {
    outline: none
}
.add-image-window-wrapper-date {
    width: 30vh;
    height: 6vh;
    margin-top: 2vh;
    border-radius: 7px;
    cursor: pointer;

}
.add-image-window-wrapper-date:focus {
    outline: none;
}

.add-image-window-wrapper-button {
    margin-top: 4vh;
    border-radius: 3px;
    width: 12vh;
    height: 4vh;
    background-color: cornflowerblue;
    border: none;
    font-size: 2.4vh;
    cursor: pointer;
}