.profile-loading {
    /* width: 100%; */
    /* height: 20%; */
    /* position: fixed; */
    display: flex;
    justify-content: center;
}
.profile-add-image{
    cursor: pointer;
    width: 15vh;
}