/* .rendering-images {
    display: flex;

} */
.rendering-images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10vh;
}
.rendering-images {
    margin-right: 3vh;
    margin-top: 3vh;
    border: 0.2vh solid black;
    padding: 2vh;
    
}
.rendering-images h3{
    font-size:2vh
}
.rendering-images h4 {
    font-size: 2vh
}
.rendering-images-image {
    width: 40vh;
    height: 36vh;
     /* position:absolute;
    top:0; 
    left:0; */
    position:relative; 
    top:0; 
    left:0
} 
/* .rendering-images img:after {
    background:rgba(0,0,0,0.6);
} */
.rendering-images-buttons {
    display: flex;
    justify-content: space-between;
}
.rendering-images-buttons input {
    width: 9vh;
    height: 4vh;
    background-color:#146db1;
    color: white;
    font-size: 2vh
}
.rendering-images-icons {
   
    position: absolute;
    display: inline-grid;
    margin-left: -38vh;
    margin-top: 10vh;

}
.rendering-images-icon {
    width: 6vh;
    height: 6vh;
    border: .2vh solid black;
    border-radius: 50%;
    padding: 0.5vh;
    /* position:absolute;
     top:50%; 
     left: 50%; 
     transform: translate(-50%, -50%) */

}

