/* .rendering-images {
    display: flex;

} */
.rendering-images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10vh;
}
.rendering-images {
    margin-right: 3vh;
    margin-top: 3vh;
    border: 0.2vh solid black;
    padding: 2vh;
    overflow: hidden;
    
}
.rendering-image {
    transition: transform .5s ease;
}
.rendering-image:hover {
    transform: scale(1.5);
} 
.rendering-images h3{
    font-size:2vh
}
.rendering-images h4 {
    font-size: 2vh
}
.rendering-images-image {
    width: 40vh;
    height: 36vh;
     /* position:absolute;
    top:0; 
    left:0; */
    position:relative; 
    top:0; 
    left:0;
    
}
/* .rendering-images-image:hover { */
    /* transform: scale(1.5); */
  /* } */
/* .rendering-images img:after {
    background:rgba(0,0,0,0.6);
} */
.rendering-images-buttons {
    display: flex;
    justify-content: space-between;
}
.rendering-images-buttons input {
    width: 9vh;
    height: 4vh;
    background-color:#146db1;
    color: white;
    font-size: 2vh
}
.rendering-images-icons {
   
    position: absolute;
    display: inline-grid;
    margin-left: -33vh;
    margin-top: 10vh;

}
.rendering-images-icon {
    width: 5vh;
    height: 5vh;
    border: .2vh solid black;
    border-radius: 50%;
    padding: 0.5vh;
    margin-top: .5vh;
    cursor: pointer;
    /* position:absolute;
     top:50%; 
     left: 50%; 
     transform: translate(-50%, -50%) */

}
.img-hover-zoom img {
   
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
 
